.footer-container {
    display: flex;
    flex-direction: row;
    height: 3rem;
    align-items: center;

    justify-content: space-between;
    padding: 1.5vh 2.5rem;
    background-color: #0f0f0f;

    z-index: 20;

    @media (max-width: 400px) {
        height: 3.75rem;
    }

    @media (max-width: 400px) {
        height: 4.6rem;
    }

    button {
        background-color: transparent;
        border: none;
        color: rgba(255, 255, 255, 0.33);
        font-size: 1.5rem;
        transition: 0.2s ease;
    }
    .touched {
        color: rgb(255, 255, 255);
        scale: 1.05;
    }
}
