$primaryColor: #ffffff8d;
.container-desktop {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;

    @media (max-width: 900px) {
        display: none;
    }
}

.line {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    perspective: 1000px;
}

.container-phone {
    display: none;
    @media (max-width: 900px) {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        height: 65%;

        .line-phone {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            .card-phone-container {
                margin: none;
                padding: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    @media (max-width: 450px) {
        gap: 1rem;
    }
}

.overlay {
    position: absolute;
    opacity: 25%;

    transform: translate(15rem, -15rem);
    scale: 1.1;
}

.overlay-phone {
    display: none;

    @media (max-width: 450px) {
        position: absolute;
        display: block;
        z-index: -1;
        max-width: 100vw;
        opacity: 25%;
        transform: translate(-2rem, 1rem);
    }
}
